<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Create Card</title>
	</head>
	<body>
		<h1>Create a card for {{deckname}}</h1>
		<div>
			<form action="{{url_for('views.create_card',username=username,deckname=deckname)}}" method="POST">

				<div style="margin-bottom:25px">
					<label style="font-size: 1.5em; font-weight: bolder">Question:</label>
					<input style="font-size: 1.5em;" type="text" name="question" required>
				</div>
				<div style="margin-bottom:25px">
					<label style="font-size: 1.5em; font-weight: bolder">Answer:</label>
					<input style="font-size: 1.5em;" type="text" name="answer" required> 
				</div>

				<div style="margin-bottom:25px">
					<input type="submit" value="Submit">
				</div>
				<div>
					<a href="{{url_for('views.dashboard',username=username)}}">Cancel</a>
				</div>
			</form>
		</div>
	</body>
</html>